<div class="col-12 col-md-12">
  <form [formGroup]="form" (ngSubmit)="register(form)">
    <nb-card>
      <nb-card-header>Dados Pessoais</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="CNS" class="form-control" name="cns" formControlName="cns" required minlength="15" />
        </div>
        <div>
          <show-errors [control]="form.controls.cns"></show-errors>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Nome" class="form-control" name="nome" formControlName="nome" required/>
        </div>
        <div>
          <show-errors [control]="form.controls.nome"></show-errors>
        </div>
        <div class="input-group">
          <input type="text" placeholder="SobreNome" class="form-control" name="sobreNome" formControlName="sobreNome" required/>
        </div>
        <div>
          <show-errors [control]="form.controls.sobreNome"></show-errors>
        </div>
        <div class="input-group">
          <input type="text" placeholder="CPF" class="form-control" name="cpf" formControlName="cpf" required/>
        </div>
        <div>
          <show-errors [control]="form.controls.cpf"></show-errors>
        </div>
        <div class="input-group" >
          <input class="form-control " placeholder="Data de Nascimento" name="nascimento" ngbDatepicker #d="ngbDatepicker" formControlName="nascimento"
            (focus)="d.open()" (click)="d.open()" required>
          <button class="input-group-addon" (click)="d.toggle()" type="button">
            <span class="fa fa-calendar"></span>
          </button>
        </div>
        <div>
          <show-errors [control]="form.controls.nascimento"></show-errors>
        </div>
        <div class="row show-grid">
          <div class=" col-md-4">
            <button type="submit" class="btn btn-primary col-12">Cadastrar Paciente</button>
          </div>
          <div class=" col-md-4">
            <button type="button" class="btn btn-primary col-12">Salvar Pré-cadastro</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </form>
</div>