@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  .label.text-danger {
    float: right initial !important;
    margin-bottom: 0;
  }
  nb-card-body {
    overflow: visible;
    z-index: 0;
  }

  // Reduzir a distancia dos labels com os botões
  label.input-label {
    margin-bottom: 0;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .form-group label {
    padding: 0 0 0.15rem;
  }

  // datepicker atras dos inputs...
  // .bs-datepicker-container {
  //   z-index: 1000;
  // }

  // .ui-datepicker {
  //   z-index: 10000 !important;
  // }
}
