<div class="col-12 col-md-12">
  <form [formGroup]="form" (ngSubmit)="register(form)">
    <nb-card>
      <nb-card-header>Dados Pessoais</nb-card-header>
      <nb-card-body>
        <div class="input-group" [ngClass]="{'has-warning': form.controls.cns.untouched, 'has-danger': form.controls.cns.invalid && !form.controls.cns.untouched, 'has-success': form.controls.cns.valid}">
          <input type="text" placeholder="CNS" class="form-control" name="cns" formControlName="cns" required minlength="15"
            [ngClass]="{'form-control-warning': form.controls.cns.untouched, 'form-control-danger': form.controls.cns.invalid && !form.controls.cns.untouched, 'form-control-success': form.controls.cns.valid}"
          />
        </div>
        <div>
          <show-errors [control]="form.controls.cns"></show-errors>
        </div>
        <div class="form-group" [ngClass]="{'has-warning': form.controls.nome.untouched, 'has-danger': form.controls.nome.invalid && !form.controls.nome.untouched, 'has-success': form.controls.nome.valid}">
          <input type="text" placeholder="Nome" class="form-control" name="nome" formControlName="nome"
            [ngClass]="{'form-control-warning': form.controls.nome.untouched, 'form-control-danger': form.controls.nome.invalid && !form.controls.nome.untouched, 'form-control-success': form.controls.nome.valid}"
            required minlength="3" />
        </div>
        <div>
          <show-errors [control]="form.controls.nome"></show-errors>
        </div>
        <div class="input-group" [ngClass]="{'has-warning': form.controls.sobreNome.untouched, 'has-danger': form.controls.sobreNome.invalid && !form.controls.sobreNome.untouched, 'has-success': form.controls.sobreNome.valid}">
          <input type="text" placeholder="SobreNome" class="form-control" name="sobreNome" formControlName="sobreNome" 
           [ngClass]="{'form-control-warning': form.controls.sobreNome.untouched, 'form-control-danger': form.controls.sobreNome.invalid && !form.controls.sobreNome.untouched, 'form-control-success': form.controls.sobreNome.valid}"
           required
           />
        </div>
        <div>
          <show-errors [control]="form.controls.sobreNome"></show-errors>
        </div>
        <div class="input-group"  [ngClass]="{'has-warning': form.controls.cpf.untouched, 'has-danger': form.controls.cpf.invalid && !form.controls.cpf.untouched, 'has-success': form.controls.cpf.valid}">
          <input type="text" placeholder="CPF" class="form-control" name="cpf" formControlName="cpf"
            [ngClass]="{'form-control-warning': form.controls.cpf.untouched, 'form-control-danger': form.controls.cpf.invalid && !form.controls.cpf.untouched, 'form-control-success': form.controls.cpf.valid}"
            required/>
        </div>
        <div>
          <show-errors [control]="form.controls.cpf"></show-errors>
        </div>
        <div class="input-group"  [ngClass]="{'has-warning': form.controls.nascimento.untouched, 'has-danger': form.controls.nascimento.invalid && !form.controls.nascimento.untouched, 'has-success': form.controls.nascimento.valid}" >
          <span class="input-group-btn" >
            <button type="button" class="btn btn-primary btn-icon" (click)="d.toggle()">
              <i class="ion-android-calendar"></i>
            </button>
          </span>
          <input class="form-control " placeholder="Data de Nascimento" name="nascimento" ngbDatepicker #d="ngbDatepicker" formControlName="nascimento"
            (focus)="d.open()" (click)="d.open()"
            [ngClass]="{'form-control-warning': form.controls.nascimento.untouched, 'form-control-danger': form.controls.nascimento.invalid && !form.controls.nascimento.untouched, 'form-control-success': form.controls.nascimento.valid}"
             required>
        </div>
        <div>
          <show-errors [control]="form.controls.nascimento"></show-errors>
        </div>
        <div class="row show-grid">
          <div class=" col-md-4">
            <button type="submit" class="btn btn-primary col-12">Cadastrar Paciente</button>
          </div>
          <div class=" col-md-4">
            <button type="button" class="btn btn-primary col-12">Salvar Pré-cadastro</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </form>
</div>