@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  .label.text-danger {
    float: right initial !important;
    margin-bottom: 0;
  }
  nb-card-body {
    overflow: visible;
    z-index: 0;
  }

  // Reduzir a distancia dos labels com os botões
  label.input-label {
    margin-bottom: 0;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .btn-primary {
    margin-bottom: 2px;
  }

  .form-group label {
    padding: 0 0 0.15rem;
  }

  // Toggle Buttons CSS
  .btn-group > .btn {
padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1rem;
    margin-top: 0.125rem;
  }

  .icon-toolbar-container {
    .btn-group > .btn {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }

  .toggle-types {
    .btn-toggle-radio-group {
      margin-bottom: 1rem;
    }
  }

  // datepicker atras dos inputs...
  // .bs-datepicker-container {
  //   z-index: 1000;
  // }

  // .ui-datepicker {
  //   z-index: 10000 !important;
  // }
}
