.nb-theme-default a {
    color:inherit;
    text-decoration: none;
}
.nb-theme-default a :hover {
    color:inherit;
    text-decoration: none;
}

.cal-day-view .cal-hour-rows {
    overflow-x: auto !important;
    padding-right: 0px !important;
    overflow-y: hidden !important;
}