<div *ngIf="atendimento; else elseBlock">
    <nb-card class="col-md-0">
      <nb-card-header class="col-md-0">
        Protocolo
      </nb-card-header>
      <nb-card-body class="col-md-0">
        <blockquote class="blockquote">
          <p class="mb-0">Código: {{atendimento.idAtendimento}}</p>
        </blockquote>
        <blockquote class="blockquote">
          <p class="mb-0">Paciente: {{atendimento.paciente}}</p>
        </blockquote>
        <blockquote class="blockquote">
          <p class="mb-0">Tipo de atendimento :{{atendimento.tipo}}</p>
        </blockquote>
        <blockquote class="blockquote-reverse">
          <p class="mb-0">{{atendimento.atendente}}</p>
          <footer class="blockquote-footer">{{atendimento.data}}</footer>
        </blockquote>
      </nb-card-body>
    </nb-card>
  </div>
  <ng-template #elseBlock>
    <nb-card #elseBlock class="col-md-0">
      <nb-card-header class="col-md-0">
        Como você chegou aqui...
      </nb-card-header>
    </nb-card>
  </ng-template>
