<!-- <nb-card col-md-4>
    <ngx-calendario-mensal></ngx-calendario-mensal>
</nb-card>
<nb-card>
    <ngx-calendario-diario col-md-4></ngx-calendario-diario>
</nb-card>  -->

<div class="row">
    <div class="col-md-6">
        <ngx-pesquisar-paciente-por-nome></ngx-pesquisar-paciente-por-nome>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <ngx-calendario-mensal></ngx-calendario-mensal>
        </div>
        <div class="col-md-12">
            <ngx-calendario-diario></ngx-calendario-diario>
        </div>
    </div>
</div>