<!-- <nb-card col-md-4>
    <ngx-calendario-mensal></ngx-calendario-mensal>
</nb-card>
<nb-card>
    <ngx-calendario-diario col-md-4></ngx-calendario-diario>
</nb-card>  -->

<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header> Selecione um paciente e horário nas tabelas</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="form-group col-md-4">
                        <input type="text" placeholder="Codigo Paciente" class="form-control" name="pacienteCod" value="{{ paciente?.chaveNatural }}"
                            readonly/>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" placeholder="Nome paciente" class="form-control" name="pacienteNome" value="{{ paciente?.nome }}" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" placeholder="Nascimento" class="form-control" name="pacienteData" value="{{ paciente?.dataNascimento }}"
                            readonly/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <input type="text" placeholder="Medico" class="form-control" name="medicoNome" value="{{ medico?.nome }}" readonly/>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" placeholder="Horario" class="form-control" name="horario" value="{{ agenda?.horario }}" readonly/>
                    </div>
                    <div class=" col-md-4">
                        <button type="button" class="btn btn-primary col-12" (click)="MarcarConsulta()">Marcar</button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <ngx-pesquisar-paciente-por-nome></ngx-pesquisar-paciente-por-nome>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <ngx-calendario-mensal></ngx-calendario-mensal>
        </div>
        <div class="col-md-12">
            <ngx-calendario-diario></ngx-calendario-diario>
        </div>
    </div>
</div>