<!-- <nb-card col-md-4>
    <ngx-calendario-mensal></ngx-calendario-mensal>
</nb-card>
<nb-card>
    <ngx-calendario-diario col-md-4></ngx-calendario-diario>
</nb-card>  -->

<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <ngx-calendario-mensal></ngx-calendario-mensal>
               
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-8">
        <nb-card>
            <nb-card-header>Pacientes</nb-card-header>
            <nb-card-body>
                <ngx-calendario-diario></ngx-calendario-diario>
            </nb-card-body>
        </nb-card>
    </div>
</div>